@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-footer {
  width: 100%;
  // リスト部分
  &__menu {
    display: flex;
    justify-content: center;
    & .menu-item a {
        display: block;
        font-size: 2rem;
        padding: 0 1.4rem;
        border-right: 0.1rem solid v.$color-white;
        @include m.pc {
          font-size: 1.3rem;
        }
      }
      & .menu-item-150 a {
        border-right: none;
      }
    }
    // copyright部分
    &__copyright {
      font-size: 1.4rem;
      line-height: 1.4;
      margin-top: 3.4rem;
      @include m.pc {
        font-size: 0.8rem;
        margin-top: 2.1rem;
      }
    }
  }

