@use "../foundation/mixin" as m;
@use "../foundation/variable" as v;

// ページネーション部分
.wp-pagenavi {
  padding-top: 3.95rem;
  padding-bottom: 3rem;
  text-align: center;
  @include m.pc {
    padding-top: 9.1rem;
    padding-bottom: 4rem;
  }

  & .pages {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: v.$color-grey;
    @include m.pc {
      font-size: 1.2rem;
    }
  }

  & .previouspostslink, 
  & .nextpostslink {
    border: none;
    font-size: 3rem;
    color: v.$color-grey;
    padding: 0;
    vertical-align: sub;
    @include m.tablet {
      margin: 0 1.73rem;
    }
  }

  & span.current {
    border-color: v.$color-grey;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: v.$color-white;
    background-color: v.$color-brown;
    padding: 0.7rem 1.3rem;
    margin: 0 0.75rem;
    @include m.pc {
      font-size: 1.2rem;
    }
  }

  & .page {
    border-color: v.$color-grey;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: v.$color-grey;
    background-color: v.$color-white;
    padding: 0.7rem 1.3rem;
    margin: 0 0.75rem;
    @include m.pc {
      font-size: 1.2rem;
    }
  }
}

// search.phpのタイトル部分
.p-search-title {
  font-size: 2.8rem;
  padding-bottom: 3rem;
  @include m.tablet {
    font-size: 3.6rem;
    padding-bottom: 2.5rem;
  }
  @include m.pc {
    font-size: 2.8rem;
    padding-bottom: 1.6rem;
  }
}

// 検索結果がない時の文章
.p-search-text {
  font-size: 2.8rem;
  padding-bottom: 3rem;
  @include m.tablet {
    font-size: 3.6rem;
    padding-bottom: 2.5rem;
  }
  @include m.pc {
    font-size: 2.8rem;
    padding-bottom: 1.6rem;
  }
}

// singleページの引用文部分
// class名を.p-blockquoteから.wp-block-quoteに変更
// CSSは.p-blockquoteのをそのまま流用
.wp-block-quote {
  background-color: v.$bgcolor-grey;
  padding: 3rem 1.6rem 3rem 2rem;
  margin-bottom: 3rem;
  @include m.tablet {
    padding: 5rem 5.6rem 6rem 5rem;
    margin-bottom: 6rem;
  }
  @include m.pc {
    padding: 3.2rem 3.7rem 3.2rem 3.2rem;
    margin-bottom: 4.2rem;
  }
  & p {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: v.$color-brown;
    margin-bottom: 6rem;
    @include m.pc {
      font-size: 1.3rem;
      margin-bottom: 3.7rem;
    }
  }

  & cite {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: v.$color-brown;
    @include m.pc {
      font-size: 1.3rem;
    }
  }
}